[submodule "lib/libjpeg-turbo"]
	path = lib/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/lodepng"]
	path = lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "lib/ffmpeg"]
	path = lib/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
[submodule "ffmpeg"]
	path = lib/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = release/3.4
